In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {
    'Students' : ['Aryan','Sahil','Prinshu','Goku','Joker'],
    'Marks' : [12,13,10,9,15],
    'Age' : [23,22,21,24,23]
}
d

{'Students': ['Aryan', 'Sahil', 'Prinshu', 'Goku', 'Joker'],
 'Marks': [12, 13, 10, 9, 15],
 'Age': [23, 22, 21, 24, 23]}

In [3]:
l = ['Aryan','Sahil','Prinshu','Goku','Joker']
df = pd.DataFrame(d)
df

  Students  Marks  Age
0    Aryan     12   23
1    Sahil     13   22
2  Prinshu     10   21
3     Goku      9   24
4    Joker     15   23

In [4]:
df.describe()

           Marks        Age
count   5.000000   5.000000
mean   11.800000  22.600000
std     2.387467   1.140175
min     9.000000  21.000000
25%    10.000000  22.000000
50%    12.000000  23.000000
75%    13.000000  23.000000
max    15.000000  24.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Students  5 non-null      object
 1   Marks     5 non-null      int64
 2   Age       5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes