In [1]:
import numpy as np 
import pandas as pd

In [2]:
l = ['Aryan','Sahil','Keshav','Shiv','Ram','Mohan','Sohan','Kumar','Gautum']

In [3]:
df = pd.DataFrame(l)
df

        0
0   Aryan
1   Sahil
2  Keshav
3    Shiv
4     Ram
5   Mohan
6   Sohan
7   Kumar
8  Gautum

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
d = {
    'Students' : ['Aryan','Sahil','Keshav','Shiv','Ram','Mohan','Sohan','Kumar','Gautum'],
    'Marks' : [23,23,21,22,20,15,16,19,11],
    'Age' : [22,19,20,24,23,21,22,25,18]
}
d

{'Students': ['Aryan',
  'Sahil',
  'Keshav',
  'Shiv',
  'Ram',
  'Mohan',
  'Sohan',
  'Kumar',
  'Gautum'],
 'Marks': [23, 23, 21, 22, 20, 15, 16, 19, 11],
 'Age': [22, 19, 20, 24, 23, 21, 22, 25, 18]}

In [6]:
df2 = pd.DataFrame(d)
df2

  Students  Marks  Age
0    Aryan     23   22
1    Sahil     23   19
2   Keshav     21   20
3     Shiv     22   24
4      Ram     20   23
5    Mohan     15   21
6    Sohan     16   22
7    Kumar     19   25
8   Gautum     11   18