In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
a = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Name', 'Global_Sales'], index_col = ['Name'])
a

                                                  Global_Sales
Name
Wii Sports                                               82.74
Super Mario Bros.                                        40.24
Mario Kart Wii                                           35.82
Wii Sports Resort                                        33.00
Pokemon Red/Pokemon Blue                                 31.37
...                                                        ...
Woody Woodpecker in Crazy Castle 5                        0.01
Men in Black II: Alien Escape                             0.01
SCORE International Baja 1000: The Official Game          0.01
Know How 2                                                0.01
Spirits & Spells                                          0.01

[16598 rows x 1 columns]

In [4]:

first_game_name = a.index[0]

# Get its global sales
first_game_sales = a.loc[first_game_name, 'Global_Sales']
'''
print("First Game:", first_game_name)
print("Sales:", first_game_sales)'''

'\nprint("First Game:", first_game_name)\nprint("Sales:", first_game_sales)'

In [5]:
a.index[0]

'Wii Sports'

In [6]:
a.Global_Sales['Wii Sports':'Pokemon Red/Pokemon Blue']

Name
Wii Sports                  82.74
Super Mario Bros.           40.24
Mario Kart Wii              35.82
Wii Sports Resort           33.00
Pokemon Red/Pokemon Blue    31.37
Name: Global_Sales, dtype: float64

In [7]:
a[0:5]

                          Global_Sales
Name
Wii Sports                       82.74
Super Mario Bros.                40.24
Mario Kart Wii                   35.82
Wii Sports Resort                33.00
Pokemon Red/Pokemon Blue         31.37

In [8]:
a.Global_Sales[[0,1]]

/tmp/ipykernel_13/882609175.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  a.Global_Sales[[0,1]]

Name
Wii Sports           82.74
Super Mario Bros.    40.24
Name: Global_Sales, dtype: float64

In [9]:
a.reindex(index = )

SyntaxError: invalid syntax (3461153278.py, line 1)