In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/video-game-sales/vgsales.csv', index_col = ['Rank'])
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
df.mean(numeric_only=True)

Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

In [4]:
df.median(numeric_only=True)

Year            2007.00
NA_Sales           0.08
EU_Sales           0.02
JP_Sales           0.00
Other_Sales        0.01
Global_Sales       0.17
dtype: float64

In [5]:
df.mode(numeric_only=True)

     Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0  2009.0       0.0       0.0       0.0          0.0          0.02

In [6]:
df.std(numeric_only=True)

Year            5.828981
NA_Sales        0.816683
EU_Sales        0.505351
JP_Sales        0.309291
Other_Sales     0.188588
Global_Sales    1.555028
dtype: float64

In [7]:
df.max(numeric_only=True)

Year            2020.00
NA_Sales          41.49
EU_Sales          29.02
JP_Sales          10.22
Other_Sales       10.57
Global_Sales      82.74
dtype: float64

In [8]:
df.min(numeric_only=True)

Year            1980.00
NA_Sales           0.00
EU_Sales           0.00
JP_Sales           0.00
Other_Sales        0.00
Global_Sales       0.01
dtype: float64

In [9]:
df['Global_Sales']

Rank
1        82.74
2        40.24
3        35.82
4        33.00
5        31.37
         ...
16596     0.01
16597     0.01
16598     0.01
16599     0.01
16600     0.01
Name: Global_Sales, Length: 16598, dtype: float64

In [10]:
df['Global_Sales'].sum()

8920.44

In [11]:
df['Global_Sales'].mean()

0.5374406555006628

In [12]:
df['Global_Sales'].mode()

0    0.02
Name: Global_Sales, dtype: float64

In [13]:
df['Global_Sales'].std()

1.5550279355699022

In [14]:
df['Global_Sales'].max()

82.74

In [15]:
df['Global_Sales'].min()

0.01

In [16]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [17]:
df.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [18]:
df['Global_Sales'] = df['Global_Sales'].add(10)

In [19]:
df['Global_Sales'].min()

10.01

In [20]:
df['Global_Sales'] = df['Global_Sales'].sub(10)

In [21]:
df['Global_Sales'].min()

0.009999999999999787

In [22]:
df['Global_Sales'].mul(2)

Rank
1        165.48
2         80.48
3         71.64
4         66.00
5         62.74
          ...
16596      0.02
16597      0.02
16598      0.02
16599      0.02
16600      0.02
Name: Global_Sales, Length: 16598, dtype: float64

In [23]:
df['Global_Sales'].div(2, fill_value = 10)

Rank
1        41.370
2        20.120
3        17.910
4        16.500
5        15.685
          ...
16596     0.005
16597     0.005
16598     0.005
16599     0.005
16600     0.005
Name: Global_Sales, Length: 16598, dtype: float64